---
interface Props {
    title : string;

}
const {
    title 
} = Astro.props;
---

<!-- <div tabindex="0" class="collapse">
  <div class="collapse-title font-semibold">{title}</div>
  <div class="collapse-content">
    <slot />
  </div>
</div> -->

<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
  <div class="collapse-title font-semibold">How do I create an account?</div>
  <div class="collapse-content text-sm">
    Click the "Sign Up" button in the top right corner and follow the registration process.
  </div>
</div>