---
import type { Variant, Color, Size } from '../../../shared/types.ts'
export interface Props {
  variant: Variant;
  color: Color;
  size: Size;
  active?: boolean;
  disabled?: boolean;
}

const {
  variant = 'outline',
  color = 'neutral',
  size = '',
  active = false,
  disabled = false
} = Astro.props;

// Build Tailwind classes based on props
const classes = [
  'btn',
  color ? `btn-${color}` : '',
  variant ? `btn-${variant}` : '',
  size ? `btn-${size}` : '',
  active ? 'btn-active' : '',
  disabled ? 'btn-disabled' : ''
].filter(Boolean).join(' ');
---

<button class={classes}>
  <slot />
</button>

<!-- <button class="btn btn-xl">Xlarge</button>

<button class="btn btn-soft btn-primary">Primary</button> -->


