---
import "../assets/app.css";
import {Button, Fab, Swap, SwapOff, SwapOn} from "daisy-wrapper/astro/actions"
// console.log(Button)
---
<Button color="primary">
    Button primary
</Button>
<br/>

<Fab>
      <!-- buttons that show up when FAB is open -->
<Button color="primary">Primary</Button>
<Button color="secondary">Secondary</Button>
</Fab>

<Swap>
    <SwapOn>
        On
        <!-- <Button color="primary"> On </Button> -->
    </SwapOn>
    <SwapOff>
        Off
        <!-- <Button color="primary"> Off </Button> -->
    </SwapOff>
</Swap>



<button class="btn btn-primary">Button</button>

