---
import "../assets/app.css";
import {Button} from "daisy-wrapper/astro/actions"
console.log(Button)
---
<Button color="primary">
    JJJ
</Button>
Hello World

<!-- <button class="btn btn-primary">Button</button> -->
